@font-face {
    font-family: larken;
    src: url('./LarkenDEMO-Regular.otf');
}

@font-face {
    font-family: edo;
    src: url('./edo.ttf');
}

.homeBG {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../../public/bg-light.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.creativeTxt {
    color: transparent;
    -webkit-text-stroke: #1cbe59;
    -webkit-text-stroke-width: 1.5px;
}

.indiaTxt {
    background-color: var(--primaryTxt);
    background-position: center 0%;
    background-clip: text;
    color: transparent;
}

.socialMedia :global(i) {
    padding: 0.3rem 0.3rem;
    cursor: pointer;
}

.btnComp:hover .btnBG {
    height: 100%;
    background-color: white;
}

.btnComp:hover .btnTxt {
    color: black;
}

.avatarBG {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.downArrow {
    transform: translateX(-50%);
}