#skill-section{
    /* background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1060&t=st=1712649953~exp=1712650553~hmac=e1d3b0726dea2cc968e14ea8f5fdb8acfb43dbf4dcb0a19d550101a1a7f71a5a); */

    /* width: 100vw; */
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.skill-card{
    background-color: rgba(255, 255, 255, 0.399);
    backdrop-filter: blur(1px);
}