/* Title Text stroke */
.skillTitle {
    -webkit-text-stroke: var(--primaryTxt) !important;
    -webkit-text-stroke-width: 1px !important;
    transform: rotate(-90deg);
}

.section {}

.skillIn {}

.chipContainer {}

.skillCard {
    position: relative;
    overflow: hidden;
}

/* .skillCard::before {
    content: "";
    width: 90%;
    position: absolute;
    backdrop-filter: blur(10px);
    height: 0.2rem;
    bottom: 0;
    transition: all 0.4s linear;
    border-radius: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #2DD4BF !important;
} */

/* .skillCard:hover::before {
    width: 100%;
    height: 55%;
    background-color: #42d9f0 !important;
} */

/* .skillCard:hover {
    color: rgb(3, 3, 60);
} */

.chipGroup {}

.skillChip {}